    <div class="new-card card my-4">
      <div class="content-input">
        <div class="row">
          <%= image_tag avatar_url(current_user), class: "rounded-circle user-photo" %>
          <div class="content-panel">

            <%#= form_for [postable, @post] do |form| %>
              <%#= form.text_area :content, id: "textarea", class: 'form-control counted', style: 'margin-bottom:10px;', maxlength: '200', require: true, placeholder: '이 책을 읽고 무엇을 느꼈나요?' %>
              <%#= form.submit '책짹', class: 'btn btn-info' %>
            <%# end %>

            <%= form_for [postable, Post.new] do |form| %>
              <%= form.text_area :content, id: "textarea", class: 'form-control counted', style: 'margin-bottom:10px;', maxlength: '200', require: true, placeholder: '이 책을 읽고 무엇을 느꼈나요?' %>
              <%#= form.file_field :image, accept: "image/*", id: "filefield", class: 'form-control counted', style: 'margin-bottom:10px;' %>
              <%= form.submit '책짹', class: 'btn btn-info' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
