<div class="row py-2">
  <div class="col-md-4 order-md-2 md-4 text-center">
    <div class="card my-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">#<%= @tag.name %></h5>
        <div>책짹 <strong><%= @tag.posts.count %></strong>개</div>
      </div>
    </div>
  </div>

  <div class="col-md-8 order-md-1">
    <!--여기... 그냥 posts/list 쓰지 말고 좋아요 순으로 posts를 정렬했으면 좋겠음-->
    <%= render 'posts/list' %>
  </div>
</div>