<div class="row py-2">
  <div class="col-md-4 order-md-2 md-4 text-center">
    <div class="card my-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">추천 사용자</h5>
          <% @users.each do |u| %>
            <p class = "card-text" ><%= link_to u.name, u %></p>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-8 order-md-1">
    <%= render 'posts/list' %>
  </div>
</div>