/* universal */

$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: 	#808080;
$gray-darker: #A9A9A9;

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

a {
  color: black;
  font-weight: bold;

  &:hover {
    color: red;
    text-decoration: none;
  }
}

textarea {
  height: 100px;
  width: 300px;
  margin-bottom: 5px;
}

/* header */



/* navbar */

.navbar-custom {
  background-color: #FF8000; // height:80px;

  .navbar-brand img {
    width: 60px;
  }
  
  /* change the brand and text color */
  .navbar-brand, .navbar-text {
    color: rgba(255, 255, 255, .8);
  }

  /* change the link color */
  .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
  }

  /* change the color of active or hovered links */
  .nav-item.active .nav-link, .nav-item:hover .nav-link {
    color: #ffffff;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* posts index list */

// .search-group .input-group .form-control {
.search-book .input-group .form-control {
  border-radius: 0.25rem;
}

.post-content {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size:14px;

  .media-body {
    padding-right: 10px;
  }
  
  .information {
    padding-bottom: 10px;
  }

  .content {
    // height: 100px;
    overflow: hidden;  
  }
}

/* post index list button */

// .post-information {
//   padding: 10px 30px 5px; //위 좌우 아래
//   font-size: 14px;
// }

/* posts index list comment */

.post-comment {
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 14px;
  margin: 0 10px; //상하 좌우
  
  .user-photo {
    padding: 0px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  .media {
    padding: 5px 0;
    .media-body {
      padding: 0 10px;
    }
  }
  .comment-input {
    padding: 5px 0;
    .row {
      padding: 0 15px;
      .input-group .form-control {
        border-radius: 0.25rem;
      }
    }
  }
}

.col-panel {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0 5px;
}
  
  // .panel {
  //   margin: 10px;
  // }

  // .panel {
  // 	position:relative;
  // }
  // .panel>.panel-heading:after,.panel>.panel-heading:before{
  // 	position:absolute;
  // 	top:11px;left:-16px;
  // 	right:100%;
  // 	width:0;
  // 	height:0;
  // 	display:block;
  // 	content:" ";
  // 	border-color:transparent;
  // 	border-style:solid solid outset;
  // 	pointer-events:none;
  // }
  // .panel>.panel-heading:after{
  // 	border-width:7px;
  // 	border-right-color:#f7f7f7;
  // 	margin-top:1px;
  // 	margin-left:2px;
  // }
  // .panel>.panel-heading:before{
  // 	border-right-color:#ddd;
  // 	border-width:8px;
  // }


/* book show */

.book-info{
  font-size:14px;

  .book-image {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .book-detail{
    padding: 10px 10px 5px;
  }
}

.book-reader {
  .title {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .reader-list{
    text-align: left;
    .user-photo {
      padding: 0px;
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}